<div class="container">
  <div class="row">

  <div class="col-lg-12">
    <h1 class="title marvel-color">NowTakeAction<span class="dc-color"> Comics</span> </h1>
    <h4 class="text-center">A collection of near mint comics from the silver age, bronze age, and modern age <br /> from both Marvel and D.C. comics sold to you at a fair price</h4>
    <br />
  </div>

  <h2 class="dc-color recent"><strong>CGC Rated Comics</strong></h2>
  <div class="col-lg-3 col-md-6 col-sm-6 comic" *ngFor="let comic of comics" >
    <div *ngIf="comic.cgc">
      <p class="text-center">{{ comic.title }} <span><strong>#{{comic.issue}}</strong></span></p>
      <mat-card class="comic-border">
        <img src={{comic.image}} height="300" alt="profile image">
        <p class="text-center price">Price: ${{comic.price}}</p>
        <p class="text-center condition">Condition: {{comic.condition}}</p>
      </mat-card>
    </div>
    <br />
  </div>

</div>
