@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#footerbg, #copyrightContainer {
    display: flex;
    justify-content: center;
    background-color: #1A1C1A;
    padding: 10px 0 30px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.bottom {
  color: white;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}